@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

code,
kbd,
samp,
pre {
  font-family: "Open Sans", sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(89.95deg, #16d2d9 5.94%, #02b2b7 98.43%);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0 solid transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-shadow: 0 0 2px black;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-position: 126px 0;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(89.95deg, #02b2b7 5.94%, #16d2d9 98.43%);
  background-position: 0 0;
}

.header {
  font-family: "Roboto";
  color: #121212;
}

.header .header-container {
  position: relative;
}

.header .header__wrapper {
  position: relative;
  z-index: 10;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.header .header__logo {
  min-width: 141px;
}

.header .header__burger {
  cursor: pointer;
  padding: 10px;
}

.header .header__burger .burger-line {
  position: relative;
  display: block;
  background-color: #00aeb3;
  width: 30px;
  height: 4px;
}

.header .header__burger .burger-line:before, .header .header__burger .burger-line:after {
  content: "";
  display: block;
  background-color: #00aeb3;
  width: 30px;
  height: 4px;
}

.header .header__burger .burger-line:after {
  position: absolute;
  top: 7px;
}

.header .header__burger .burger-line:before {
  position: absolute;
  bottom: 7px;
}

.header .header__burger.is-active .burger-line {
  background-color: transparent;
}

.header .header__burger.is-active .burger-line:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .header__burger.is-active .burger-line:before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header-drop-container {
  position: absolute;
  z-index: 2;
  top: -300px;
  left: 50%;
  padding: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: top 0.4s linear;
  transition: top 0.4s linear;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
}

.header .header-drop-container.is-active {
  top: 80px;
}

.header .header-drop-container__nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-drop-container__nav .item {
  padding: 10px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.header .header-drop-container__nav .item:not(:last-of-type) {
  margin-bottom: 20px;
}

.header .header-drop-container__nav .link {
  position: relative;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header .header-drop-container__nav .link:before,
.header .header-drop-container__nav .link:after {
  content: "";
  position: absolute;
  bottom: -5px;
  display: block;
  width: 0;
  height: 3px;
  background-color: #00aeb3;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.header .header-drop-container__nav .link:before {
  right: 50%;
}

.header .header-drop-container__nav .link:after {
  left: 50%;
}

.header .header-drop-container__nav .link:hover,
.header .header-drop-container__nav .link:focus {
  color: #00aeb3;
}

.header .header-drop-container__nav .link:hover:after,
.header .header-drop-container__nav .link:focus:after {
  width: 50%;
}

.header .header-drop-container__nav .link:hover:before,
.header .header-drop-container__nav .link:focus:before {
  width: 50%;
}

.header .social-link__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .social-link__wrapper-item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .social-link__wrapper-item a {
  padding: 15px 30px;
}

.header .social-link__wrapper-item .icon {
  width: 30px;
  height: 30px;
  fill: #9499a4;
  -webkit-transition: fill, 0.3s linear;
  transition: fill, 0.3s linear;
}

.header .social-link__wrapper-item .icon:hover, .header .social-link__wrapper-item .icon:focus {
  fill: #00aeb3;
}

.header .header-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__wrapper {
    padding: 10px 0;
  }
  .header .header__burger {
    display: none;
  }
  .header .header-drop-container {
    margin-left: 20px;
    padding: 0;
    position: static;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header .header-drop-container__nav .list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .header-drop-container__nav .item {
    padding: 10px 10px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.17;
  }
  .header .header-drop-container__nav .item:not(:last-of-type) {
    margin: 0;
  }
  .header .header-drop-container__nav .link:before,
  .header .header-drop-container__nav .link:after {
    bottom: -10px;
  }
  .header .social-link__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
  .header .social-link__wrapper-item .icon {
    margin-bottom: 12px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  .header .social-link__wrapper-item a {
    padding: 5px;
  }
  .header .header-btn {
    display: inline-block;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header .header-drop-container {
    margin-left: 150px;
  }
  .header .header-drop-container__nav .item:not(:last-of-type) {
    margin-right: 20px;
  }
  .header .social-link__wrapper-item .icon {
    margin-right: 15px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
  }
}

.hero {
  position: relative;
  background-image: url("../assets/images/hero/hero-bg-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 494px;
  overflow: hidden;
}

.hero .container {
  position: relative;
  padding-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.hero .hero-content__bg {
  position: absolute;
  right: 0;
  background-image: url("../assets/images/hero/bg-poligone.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 494px;
  width: 100%;
  margin-left: auto;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.hero .hero-content__bg:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 165px;
  left: -220px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  display: block;
  width: 700px;
  height: 10px;
  background-color: #fff;
}

.hero .hero__title {
  margin-top: 93px;
  max-width: 240px;
  text-transform: uppercase;
  color: #00aeb3;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.23;
}

.hero .hero__adress {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.29;
  color: #696969;
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: url("../assets/images/hero/hero-bg-tablet.jpg");
  }
  .hero .hero-content__bg:before {
    left: -200px;
  }
}

@media screen and (min-width: 768px) {
  .hero .hero-content__bg {
    max-width: 970px;
    background-image: url("../assets/images/hero/bg-poligone-tablet.png");
  }
  .hero .hero-content__bg:before {
    -webkit-transform: rotate(-59deg);
            transform: rotate(-59deg);
  }
  .hero .hero-btn {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .hero .hero-content__bg {
    height: 100%;
  }
  .hero .hero-content__bg:before {
    -webkit-transform: rotate(-59deg);
            transform: rotate(-59deg);
    left: -175px;
    top: 210px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../assets/images/hero/hero-bg-desktop1200.jpg");
  }
  .hero .container {
    padding-right: 100px;
    padding-bottom: 30px;
  }
  .hero .hero__title {
    margin-top: 0;
    max-width: 320px;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.5;
  }
  .hero .hero__adress {
    margin-top: 83px;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.8;
  }
  .hide-block {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
}

@media screen and (min-width: 1920px) {
  .hero {
    background-image: url("../assets/images/hero/hero-bg-desktop1920.jpg");
  }
}

.promo {
  padding-top: 26px;
  padding-bottom: 26px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0feff), color-stop(31.88%, #ffffff));
  background-image: linear-gradient(180deg, #e0feff 0%, #ffffff 31.88%);
}

.promo .promo-logo {
  margin-bottom: 15px;
}

.promo .promo-logo .promo-logo__img {
  margin: 0 auto;
  display: block;
}

.promo .promo-rectangle {
  margin: 0 auto 22px;
  width: 130px;
  min-height: 33px;
  background-image: url("../assets/images/promo/promo-rectangle.png");
  background-repeat: no-repeat;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  line-height: 2;
  color: white;
  text-shadow: 0 0 2px grey;
  font-family: "Montserrat", sans-serif;
}

.promo .promo-list .promo-item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #474a50;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
}

.promo .promo-list .promo-item:not(:last-of-type) {
  margin-bottom: 15px;
}

.promo .promo-list .promo-item__pologonal {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 35px;
  height: 40px;
  background-image: url("../assets/images/promo/poligonal-promo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  color: #fff;
}

.promo .promo-wrapper-img {
  position: relative;
  min-height: 320px;
}

.promo .promo-img {
  position: absolute;
  border-radius: 15px;
}

.promo .promo-img:nth-of-type(1) {
  top: 0;
  left: 0;
  z-index: 2;
}

.promo .promo-img:nth-of-type(2) {
  top: 140px;
  left: 40px;
  z-index: 1;
}

@media screen and (min-width: 360px) {
  .promo .promo-img:nth-of-type(2) {
    left: 80px;
  }
}

@media screen and (min-width: 420px) {
  .promo .promo-wrapper-img {
    min-height: 275px;
  }
  .promo .promo-img:nth-of-type(2) {
    top: 100px;
    left: 140px;
  }
}

@media screen and (min-width: 480px) {
  .promo .promo-img:nth-of-type(1) {
    left: 30px;
  }
  .promo .promo-img:nth-of-type(2) {
    left: 170px;
  }
}

@media screen and (min-width: 576px) {
  .promo .promo-img:nth-of-type(1) {
    left: 70px;
  }
  .promo .promo-img:nth-of-type(2) {
    left: 210px;
  }
}

@media screen and (min-width: 768px) {
  .promo .promo-wrapper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .promo .promo-list {
    margin-right: 15px;
  }
  .promo .promo-wrapper-img {
    min-width: 320px;
  }
  .promo .promo-img:nth-of-type(1) {
    left: 0;
  }
  .promo .promo-img:nth-of-type(2) {
    left: 100px;
    top: 95px;
  }
}
/*# sourceMappingURL=main.css.map */