@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

code,
kbd,
samp,
pre {
  font-family: "Open Sans", sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

button {
  border: none;
  background-color: transparent;
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

.display-none {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.overflow-hidden {
  overflow: hidden;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 5px;
  /* ширина для вертикального скролла */
  height: 3px;
  /* высота для горизонтального скролла */
  background-color: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #00aeb3;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #06f3fb;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(89.95deg, #16d2d9 5.94%, #02b2b7 98.43%);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0 solid transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-shadow: 0 0 2px black;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-position: 126px 0;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(89.95deg, #02b2b7 5.94%, #16d2d9 98.43%);
  background-position: 0 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #02b2b7;
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  min-height: 45px;
  line-height: 3;
  background: #02b2b7;
  overflow: hidden;
  border-radius: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
}

.header {
  font-family: "Roboto";
  color: #121212;
}

.header .header-container {
  position: relative;
}

.header .header__wrapper {
  position: relative;
  z-index: 10;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.header .header__logo {
  min-width: 141px;
}

.header .header__burger {
  cursor: pointer;
  padding: 10px;
}

.header .header__burger .burger-line {
  position: relative;
  display: block;
  background-color: #00aeb3;
  width: 30px;
  height: 4px;
}

.header .header__burger .burger-line:before, .header .header__burger .burger-line:after {
  content: "";
  display: block;
  background-color: #00aeb3;
  width: 30px;
  height: 4px;
}

.header .header__burger .burger-line:after {
  position: absolute;
  top: 7px;
}

.header .header__burger .burger-line:before {
  position: absolute;
  bottom: 7px;
}

.header .header__burger.is-active .burger-line {
  background-color: transparent;
}

.header .header__burger.is-active .burger-line:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .header__burger.is-active .burger-line:before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .header-drop-container {
  position: absolute;
  z-index: 2;
  top: -300px;
  left: 50%;
  padding: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: top 0.4s linear;
  transition: top 0.4s linear;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
}

.header .header-drop-container.is-active {
  top: 80px;
}

.header .header-drop-container__nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-drop-container__nav .item {
  padding: 10px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.header .header-drop-container__nav .item:not(:last-of-type) {
  margin-bottom: 20px;
}

.header .header-drop-container__nav .link {
  position: relative;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header .header-drop-container__nav .link:before,
.header .header-drop-container__nav .link:after {
  content: "";
  position: absolute;
  bottom: -5px;
  display: block;
  width: 0;
  height: 3px;
  background-color: #00aeb3;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.header .header-drop-container__nav .link:before {
  right: 50%;
}

.header .header-drop-container__nav .link:after {
  left: 50%;
}

.header .header-drop-container__nav .link:hover,
.header .header-drop-container__nav .link:focus {
  color: #00aeb3;
}

.header .header-drop-container__nav .link:hover:after,
.header .header-drop-container__nav .link:focus:after {
  width: 50%;
}

.header .header-drop-container__nav .link:hover:before,
.header .header-drop-container__nav .link:focus:before {
  width: 50%;
}

.header .social-link__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .social-link__wrapper-item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .social-link__wrapper-item a {
  padding: 15px 30px;
}

.header .social-link__wrapper-item .icon {
  width: 30px;
  height: 30px;
  fill: #9499a4;
  -webkit-transition: fill, 0.3s linear;
  transition: fill, 0.3s linear;
}

.header .social-link__wrapper-item .icon:hover, .header .social-link__wrapper-item .icon:focus {
  fill: #00aeb3;
}

.header .header-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__wrapper {
    padding: 10px 0;
  }
  .header .header__burger {
    display: none;
  }
  .header .header-drop-container {
    margin-left: 20px;
    padding: 0;
    position: static;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header .header-drop-container__nav .list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .header-drop-container__nav .item {
    padding: 10px 10px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.17;
  }
  .header .header-drop-container__nav .item:not(:last-of-type) {
    margin: 0;
  }
  .header .header-drop-container__nav .link:before,
  .header .header-drop-container__nav .link:after {
    bottom: -10px;
  }
  .header .social-link__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
  .header .social-link__wrapper-item .icon {
    margin-bottom: 12px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  .header .social-link__wrapper-item a {
    padding: 5px;
  }
  .header .header-btn {
    display: inline-block;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header .header-drop-container {
    margin-left: 150px;
  }
  .header .header-drop-container__nav .item:not(:last-of-type) {
    margin-right: 20px;
  }
  .header .social-link__wrapper-item .icon {
    margin-right: 15px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
  }
}

.hero {
  position: relative;
  background-image: url("../assets/images/hero/hero-bg-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 494px;
  overflow: hidden;
}

.hero .container {
  position: relative;
  padding-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.hero .hero-content__bg {
  position: absolute;
  right: 0;
  background-image: url("../assets/images/hero/bg-poligone.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 494px;
  width: 100%;
  margin-left: auto;
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.hero .hero-content__bg:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 165px;
  left: -220px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  display: block;
  width: 700px;
  height: 10px;
  background-color: #fff;
}

.hero .hero__title {
  margin-top: 93px;
  max-width: 240px;
  text-transform: uppercase;
  color: #00aeb3;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.23;
}

.hero .hero__adress {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.29;
  color: #696969;
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: url("../assets/images/hero/hero-bg-tablet.jpg");
  }
  .hero .hero-content__bg:before {
    left: -200px;
  }
}

@media screen and (min-width: 768px) {
  .hero .hero-content__bg {
    max-width: 970px;
    background-image: url("../assets/images/hero/bg-poligone-tablet.png");
  }
  .hero .hero-content__bg:before {
    -webkit-transform: rotate(-59deg);
            transform: rotate(-59deg);
  }
  .hero .hero-btn {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .hero .hero-content__bg {
    height: 100%;
  }
  .hero .hero-content__bg:before {
    -webkit-transform: rotate(-59deg);
            transform: rotate(-59deg);
    left: -175px;
    top: 210px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../assets/images/hero/hero-bg-desktop1200.jpg");
  }
  .hero .container {
    padding-right: 100px;
    padding-bottom: 30px;
  }
  .hero .hero__title {
    margin-top: 0;
    max-width: 320px;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.5;
  }
  .hero .hero__adress {
    margin-top: 83px;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.8;
  }
  .hide-block {
    -webkit-transform: translateX(130%);
            transform: translateX(130%);
  }
}

@media screen and (min-width: 1920px) {
  .hero {
    background-image: url("../assets/images/hero/hero-bg-desktop1920.jpg");
  }
}

.promo {
  padding-top: 26px;
  padding-bottom: 26px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0feff), color-stop(31.88%, #ffffff));
  background-image: linear-gradient(180deg, #e0feff 0%, #ffffff 31.88%);
}

.promo .promo-logo {
  margin-bottom: 15px;
}

.promo .promo-logo .promo-logo__img {
  margin: 0 auto;
  display: block;
}

.promo .promo-rectangle {
  margin: 0 auto 22px;
  width: 130px;
  min-height: 33px;
  background-image: url("../assets/images/promo/promo-rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  line-height: 2;
  color: white;
  text-shadow: 0 0 2px grey;
  font-family: "Montserrat", sans-serif;
}

.promo .promo-list {
  margin-bottom: 20px;
}

.promo .promo-list .promo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #474a50;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
}

.promo .promo-list .promo-item:not(:last-of-type) {
  margin-bottom: 15px;
}

.promo .promo-list .promo-item__pologonal {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 35px;
  height: 40px;
  background-image: url("../assets/images/promo/poligonal-promo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  color: #fff;
}

.promo .promo-wrapper-img {
  position: relative;
  min-height: 320px;
}

.promo .promo-img {
  position: absolute;
  border-radius: 15px;
}

.promo .promo-img:nth-of-type(1) {
  top: 0;
  left: 0;
  z-index: 2;
}

.promo .promo-img:nth-of-type(2) {
  top: 140px;
  left: 40px;
  z-index: 1;
}

@media screen and (min-width: 360px) {
  .promo .promo-img:nth-of-type(2) {
    left: 80px;
  }
}

@media screen and (min-width: 420px) {
  .promo .promo-wrapper-img {
    min-height: 275px;
  }
  .promo .promo-img:nth-of-type(2) {
    top: 100px;
    left: 140px;
  }
}

@media screen and (min-width: 480px) {
  .promo .promo-img:nth-of-type(1) {
    left: 30px;
  }
  .promo .promo-img:nth-of-type(2) {
    left: 170px;
  }
}

@media screen and (min-width: 576px) {
  .promo .promo-img:nth-of-type(1) {
    left: 70px;
  }
  .promo .promo-img:nth-of-type(2) {
    left: 210px;
  }
}

@media screen and (min-width: 768px) {
  .promo .promo-wrapper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .promo .promo-list {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .promo .promo-wrapper-img {
    min-width: 320px;
    min-height: 235px;
  }
  .promo .promo-img:nth-of-type(1) {
    left: 0;
    top: 40px;
  }
  .promo .promo-img:nth-of-type(2) {
    left: 100px;
    top: -56px;
  }
}

@media screen and (min-width: 992px) {
  .promo .promo-wrapper-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .promo .promo-list {
    margin-right: 20px;
  }
  .promo .promo-list .promo-item:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .promo .promo-item__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.63;
  }
  .promo .promo-wrapper-img {
    min-width: 392px;
    min-height: 285px;
  }
  .promo .promo-img {
    min-width: 264px;
    min-height: 216px;
  }
  .promo .promo-img:nth-of-type(1) {
    left: 0;
    top: 70px;
  }
  .promo .promo-img:nth-of-type(2) {
    left: 100px;
    top: -56px;
  }
}

@media screen and (min-width: 1200px) {
  .promo .promo-rectangle {
    min-width: 160px;
    min-height: 42px;
    font-size: 16px;
    font-weight: 800;
    line-height: 2;
  }
  .promo .promo-list {
    margin-right: 30px;
  }
  .promo .promo-list .promo-item:not(:last-of-type) {
    margin-bottom: 25px;
  }
  .promo .promo-list .promo-item__pologonal {
    margin-right: 15px;
    min-width: 45px;
    height: 52px;
    font-size: 24px;
    font-weight: 700;
    line-height: 0.92;
  }
  .promo .promo-item__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
  }
  .promo .promo-wrapper-img {
    min-width: 500px;
    min-height: 362px;
  }
  .promo .promo-img {
    min-width: 316px;
    min-height: 260px;
  }
  .promo .promo-img:nth-of-type(1) {
    left: 0;
    top: 100px;
  }
  .promo .promo-img:nth-of-type(2) {
    left: 185px;
    top: -56px;
  }
}

@media screen and (min-width: 1920px) {
  .promo .promo-logo__img {
    width: 688px;
    height: 112px;
  }
  .promo .promo-rectangle {
    margin-bottom: 60px;
    min-width: 375px;
    min-height: 97px;
    font-size: 32px;
    font-weight: 800;
    line-height: 2.19;
    background-image: url("../assets/images/promo/promo-rectangle-desktop.png");
  }
  .promo .promo-item__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
  }
  .promo .promo-list {
    margin-right: 40px;
  }
  .promo .promo-list .promo-item:not(:last-of-type) {
    margin-bottom: 40px;
  }
  .promo .promo-wrapper-img {
    min-width: 759px;
    min-height: 435px;
  }
  .promo .promo-img {
    min-width: 500px;
    min-height: 334px;
  }
  .promo .promo-img:nth-of-type(1) {
    left: 0;
    top: 100px;
  }
  .promo .promo-img:nth-of-type(2) {
    left: 260px;
    top: -160px;
  }
}

.catalog {
  position: relative;
  padding-top: 23px;
  padding-bottom: 23px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10.05%, #f3fdfe), color-stop(89.1%, #e0feff));
  background: linear-gradient(to right bottom, #f3fdfe 10.05%, #e0feff 89.1%);
}

.catalog .catalog__title {
  margin-left: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 800;
  line-height: 1.16;
  text-transform: uppercase;
  color: #00aeb3;
}

.catalog .catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog .catalog__item {
  margin: 20px 20px;
  cursor: pointer;
}

.catalog .catalog__btn {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 120px;
  width: 120px;
  min-height: 145px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
  border-radius: 15px;
}

.catalog .catalog__btn:hover,
.catalog .catalog__btn:focus {
  background-color: #fff;
}

.catalog .catalog__btn:hover .catalog__text,
.catalog .catalog__btn:focus .catalog__text {
  color: #00aeb3;
}

.catalog .catalog__btn:hover .catalog__text:after,
.catalog .catalog__btn:focus .catalog__text:after {
  background-color: #00aeb3;
}

.catalog .catalog__item-rectangle {
  margin: 0 auto 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../assets/images/catalog/svg/rectangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 74px;
  height: 86px;
}

.catalog .catalog__item-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog .catalog__item-icon.icon-1 {
  background-image: url("../assets/images/catalog/svg/sport.svg");
  width: 44px;
  height: 51px;
}

.catalog .catalog__item-icon.icon-2 {
  background-image: url("../assets/images/catalog/svg/shouse.svg");
  width: 55px;
  height: 24px;
}

.catalog .catalog__item-icon.icon-3 {
  background-image: url("../assets/images/catalog/svg/coffee.svg");
  width: 43px;
  height: 45px;
}

.catalog .catalog__item-icon.icon-4 {
  background-image: url("../assets/images/catalog/svg/shops .svg");
  width: 48px;
  height: 40px;
}

.catalog .catalog__text {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  line-height: 1.17;
  color: #696969;
  display: block;
  text-align: center;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.catalog .catalog__text:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

.catalog-backdrop-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.catalog-backdrop-wrapper .close {
  position: absolute;
  top: 13px;
  right: 0;
  padding: 10px;
  font-size: 25px;
  color: #00aeb3;
  text-shadow: 0 0 3px red;
  cursor: pointer;
  -webkit-transition: color 0.25s linear, text-shadow 0.25s linear;
  transition: color 0.25s linear, text-shadow 0.25s linear;
}

.catalog-backdrop-wrapper .close:hover, .catalog-backdrop-wrapper .close:focus {
  color: red;
  text-shadow: 0 0 3px black;
}

.catalog-backdrop-wrapper .catalog-backdrop__title {
  display: inline-block;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  color: #00aeb3;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  text-transform: uppercase;
}

.catalog-backdrop-wrapper .catalog-backdrop-list {
  min-width: 100%;
  padding: 35px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 0 15px 15px 15px;
  background-color: #fff;
}

.catalog-backdrop-wrapper .catalog-backdrop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
}

.catalog-backdrop-wrapper .catalog-backdrop-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  width: 90px;
  height: 70px;
}

.catalog-backdrop-wrapper .catalog-backdrop-logo__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.catalog-backdrop-brands .btn-close {
  position: absolute;
  right: 0px;
  top: -6px;
  padding: 10px;
  color: #00aeb3;
  text-shadow: 0 0 3px red;
  font-size: 22px;
  cursor: pointer;
}

.catalog-backdrop-brands .catalog-backdrop-brands__list {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 280px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-wrapper {
  background-color: #fff;
  padding: 30px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px 10px 0 0;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-img {
  margin-bottom: 10px;
  border-radius: 15px;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.29;
  color: #00aeb3;
  text-transform: uppercase;
  max-width: 300px;
  text-align: center;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-text {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-slide-navigation {
  background-color: #e0feff;
  height: 50px;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-slide-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00aeb3;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-slide-navigation .btn-catalog-backdrop {
  position: relative;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-slide-navigation .btn-catalog-backdrop::before, .catalog-backdrop-brands .catalog-backdrop-brands__item-slide-navigation .btn-catalog-backdrop::after {
  content: "";
  position: absolute;
  top: 5px;
  display: block;
  width: 17px;
  height: 26px;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-slide-navigation .btn-catalog-backdrop_back {
  margin-left: 21px;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-slide-navigation .btn-catalog-backdrop_back:before {
  background-image: url("../assets/images/backdrop/back-arrow.png");
  left: -21px;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-slide-navigation .btn-catalog-backdrop_next {
  margin-right: 21px;
}

.catalog-backdrop-brands .catalog-backdrop-brands__item-slide-navigation .btn-catalog-backdrop_next:after {
  background-image: url("../assets/images/backdrop/next-arrow.png");
  right: -21px;
}

@media screen and (min-width: 320px) {
  .catalog-backdrop-brands .catalog-backdrop-brands__list {
    min-width: 300px;
  }
}

@media screen and (min-width: 420px) {
  .catalog-backdrop-wrapper .close {
    top: 15px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
  }
  .catalog-backdrop-wrapper .catalog-backdrop__theme {
    margin-left: auto;
    margin-right: auto;
  }
  .catalog-backdrop-wrapper .catalog-backdrop-list {
    border-radius: 0 0 15px 15px;
  }
  .catalog-backdrop-wrapper .catalog-backdrop-item {
    margin-right: 20px;
  }
  .catalog-backdrop-list .catalog-backdrop__title {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 800;
    line-height: 0.92;
  }
  .catalog-backdrop-list .catalog-backdrop-logo {
    width: 117px;
    height: 91px;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__list {
    min-width: 390px;
  }
}

@media screen and (min-width: 480px) {
  .catalog .catalog__list {
    margin: 0 auto;
    max-width: 400px;
  }
  .catalog .catalog__btn {
    padding: 15px;
    min-width: 140px;
    width: 140px;
    min-height: 210px;
  }
  .catalog .catalog__item-rectangle {
    width: 111px;
    height: 129px;
  }
  .catalog .catalog__text {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.25;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__list {
    min-width: 450px;
  }
}

@media screen and (min-width: 576px) {
  .catalog-backdrop-brands .catalog-backdrop-brands__list {
    min-width: 530px;
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .catalog .catalog__title {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.23;
  }
  .catalog .catalog__list {
    max-width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .catalog .catalog__btn {
    min-width: 140px;
    width: 140px;
    min-height: 220px;
  }
  .catalog-backdrop-wrapper .close {
    top: 32px;
    font-size: 30px;
  }
  .catalog-backdrop-wrapper .catalog-backdrop__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 2;
  }
  .catalog-backdrop-wrapper .catalog-backdrop__theme {
    max-width: 100%;
  }
  .catalog-backdrop-wrapper .catalog-backdrop-logo {
    width: 117px;
    height: 91px;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__list {
    min-width: 700px;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__item-img {
    width: 80%;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__item-title {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.75;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__item-text {
    width: 80%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
  }
}

@media screen and (min-width: 992px) {
  .catalog-backdrop-brands .catalog-backdrop-brands__list {
    min-width: 950px;
  }
  .catalog-backdrop-wrapper .catalog-backdrop-list {
    padding: 35px;
  }
  .catalog-backdrop-wrapper .catalog-backdrop-item {
    margin-right: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .catalog .catalog__btn {
    min-width: 180px;
    width: 180px;
  }
  .catalog-backdrop-wrapper .catalog-backdrop-logo {
    width: 152px;
    height: 118px;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__list {
    min-width: 1100px;
  }
}

@media screen and (min-width: 1400px) {
  .catalog .catalog__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.25;
  }
  .catalog .catalog__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .catalog .catalog__btn {
    min-width: 200px;
    width: 200px;
    min-height: 280px;
  }
  .catalog .catalog__item-rectangle {
    margin-bottom: 20px;
    width: 145px;
    height: 168px;
  }
  .catalog .catalog__text {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
  }
  .catalog .catalog__item-icon.icon-1 {
    width: 87px;
    height: 101px;
  }
  .catalog .catalog__item-icon.icon-2 {
    width: 109px;
    height: 48px;
  }
  .catalog .catalog__item-icon.icon-3 {
    width: 85px;
    height: 89px;
  }
  .catalog .catalog__item-icon.icon-4 {
    width: 94px;
    height: 78px;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__list {
    min-width: 1100px;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__item-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.44;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__item-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 2.13;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__item-slide-navigation .btn-catalog-backdrop {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1600px) {
  .catalog-backdrop-wrapper .catalog-backdrop__title {
    font-size: 26px;
    font-weight: 800;
    line-height: 1.54;
  }
  .catalog-backdrop-wrapper .catalog-backdrop-logo {
    width: 197px;
    height: 153px;
  }
  .catalog-backdrop-brands .catalog-backdrop-brands__list {
    min-width: 1400px;
  }
}

.scheme {
  padding-bottom: 50px;
}

.scheme .sceme-title-wrapper {
  padding: 10px 15px 10px 35px;
  background: linear-gradient(271.51deg, #e0feff 10.05%, #02b2b7 89.1%);
}

.scheme .scheme-tittle {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.28;
  text-transform: uppercase;
  color: white;
}

.scheme .select {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: 10px;
  -webkit-box-shadow: 0 0 3px grey;
          box-shadow: 0 0 3px grey;
}

.scheme .select .selected-content {
  margin-left: auto;
}

.scheme .scheme-item {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scheme .scheme-list {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: block;
  border-radius: 10px;
  background: rgba(148, 153, 164, 0.19);
  text-align: center;
  -webkit-box-shadow: 0 0 3px grey;
          box-shadow: 0 0 3px grey;
}

.scheme .scheme-list:not(:last-of-type) {
  margin-bottom: 15px;
}

.scheme .scheme-btn {
  padding: 10px 15px;
  width: 100%;
  color: #02b2b7;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.44;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: color 0.25s linear, text-shadow 0.25s linear, -webkit-box-shadow 0.25s linear;
  transition: color 0.25s linear, text-shadow 0.25s linear, -webkit-box-shadow 0.25s linear;
  transition: box-shadow 0.25s linear, color 0.25s linear, text-shadow 0.25s linear;
  transition: box-shadow 0.25s linear, color 0.25s linear, text-shadow 0.25s linear, -webkit-box-shadow 0.25s linear;
}

.scheme .scheme-btn:hover,
.scheme .scheme-btn:focus {
  -webkit-box-shadow: inset 0 0 33px #02b2b7;
          box-shadow: inset 0 0 33px #02b2b7;
  color: #fff;
  text-shadow: 0 0 1px grey;
}

@media screen and (min-width: 768px) {
  .scheme .sceme-title-wrapper {
    padding-left: 100px;
  }
  .scheme .scheme-tittle {
    font-size: 22px;
    font-weight: 800;
    line-height: 1.05;
  }
  .scheme .scheme-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .scheme .scheme-content__img-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .scheme .scheme-item {
    margin-top: 0;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .scheme .scheme-item {
    margin-right: 40px;
  }
  .scheme .scheme-list {
    width: 250px;
  }
  .scheme .scheme-list:not(:last-of-type) {
    margin-bottom: 25px;
  }
  .scheme .scheme-btn {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1600px) {
  .scheme .sceme-title-wrapper {
    padding-left: 200px;
  }
  .scheme .scheme-tittle {
    font-size: 42px;
    font-weight: 800;
    line-height: 1;
  }
}

.form-mobile {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e0feff;
}

.form-mobile .form-mobile__title {
  margin-bottom: 20px;
  color: #02b2b7;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 800;
  line-height: 1.22;
  text-align: center;
}

.form-mobile .form-mobile__text {
  margin-bottom: 20px;
  text-align: center;
  color: #474a50;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
}

.form-mobile .form-mobile__input {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  -webkit-box-shadow: 0 0 6px grey;
          box-shadow: 0 0 6px grey;
  -webkit-transition: -webkit-box-shadow 0.4s linear;
  transition: -webkit-box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear, -webkit-box-shadow 0.4s linear;
}

.form-mobile .form-mobile__input:hover,
.form-mobile .form-mobile__input:focus {
  -webkit-box-shadow: inset 0 0 6px #02b2b7;
          box-shadow: inset 0 0 6px #02b2b7;
}

.form-mobile .form-mobile__btn {
  margin: 0 auto;
  display: block;
  width: 125px;
}

@media screen and (min-width: 768px) {
  .form-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    display: none;
  }
}

.contact {
  padding: 20px;
  background: linear-gradient(279.66deg, #02b2b7 31.85%, #e0feff 77.75%);
}

.contact .contact__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact__map-wrapper .map {
  width: 400px;
  height: 300px;
}

.contact .contact__links-wrapper {
  margin-top: 20px;
  width: 35%;
}

.contact .contact__link {
  margin-bottom: 20px;
  display: block;
  color: #fff;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
}

.contact .contact__link_underline {
  text-decoration: underline;
}

.contact .contact__link:hover, .contact .contact__link:focus {
  color: #bab8b8;
}

.contact .contact__link-social .link {
  padding: 10px;
  margin-left: 30px;
}

.contact .contact__link-social .icon {
  fill: #fff;
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.contact .contact__link-social .icon:hover,
.contact .contact__link-social .icon:focus {
  fill: #bab8b8;
}

@media screen and (min-width: 992px) {
  .contact .contact__map-wrapper .map {
    width: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .contact .contact__map-wrapper .map {
    width: 700px;
  }
}

@media screen and (min-width: 1400px) {
  .contact .contact__map-wrapper .map {
    width: 800px;
    height: 450px;
  }
  .contact .contact__link {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.09;
  }
}

@media screen and (min-width: 1920px) {
  .contact .contact__map-wrapper .map {
    width: 1100px;
  }
}
/*# sourceMappingURL=main.css.map */