.footer {
  position: relative;

  .circle-link {
    position: absolute;
    top: -25px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(181.15deg, #ffffff 61.29%, #e0feff 76.89%);
    cursor: pointer;

    .arrow {
      display: block;
      width: calc(38px * 0.7);
      height: calc(34px * 0.7);
    }
  }

  .mobile-menu {
    padding: 50px 0 30px;
    background: linear-gradient(180deg, #00aeb3 0, #ffffff 77.6%);
    min-height: 400px;
  }

  .mobile-nav-item {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
  }

  .logo-wraper {
    .logo-link {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
      display: block;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .mobile-nav-contacts {
    .contact__link {
      margin-bottom: 10px;
      display: block;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
    }
  }

  .contact__link-social {
    display: flex;
    justify-content: center;

    .icon {
      margin: 10px;
      fill: #00aeb3;
    }
  }

  .footer-content {
    display: flex;
    justify-content: center;
  }

  .footer-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .circle-link {
      top: -30px;
      left: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: none;
    }

    .mobile-menu {
      display: none;
    }

    .footer-content {
      justify-content: space-around;
    }

    .footer-nav {
      display: flex;
      align-items: center;
    }

    .footer-nav-list {
      display: flex;
    }

    .footer-nav-item {
      position: relative;
      text-transform: uppercase;
      margin-left: 15px;
      font-size: 14px;
      font-weight: 600;
      color: #121212;
      transition: all 0.25s linear;

      &:before,
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 3px;
        bottom: -5px;
        background-color: #00aeb3;
        transition: all 0.25s linear;
      }

      &:before {
        left: 50%;
      }

      &:after {
        right: 50%;
      }

      &:hover,
      &:focus {
        color: #00aeb3;

        &:before,
        &:before {
          width: 50%;
        }

        &:after,
        &:after {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;

    .logo-wraper {
      img {
        width: 244px;
        height: 76px;
      }
    }

    .footer-nav-item {
      margin-right: 25px;
      font-size: 20px;
    }
  }
}
