.scheme {
}

.scheme-content__img-wrapper {
  .container-img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 120px;
    background-color: #9499a4cb;
  }

  .floor {
    width: 265px;
    height: 110px;
    background-color: #e0feff;
  }

  .elem {
    cursor: pointer;
    font-size: 0;
    font-weight: 900;
    text-transform: uppercase;
  }

  .sub-elem {
    font-size: 0px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
  }

  .first-floor {
    display: flex;
    position: relative;

    .elem {
      position: absolute;
    }

    .elem-1,
    .elem-2,
    .elem-3 {
      width: calc(100% / 3);
      height: 110px;
      border: 1px solid #9499a4;
    }

    .elem-1 {
      display: flex;
      width: 34%;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      left: 0;

      &:hover,
      &:focus {
        font-size: 12px;
        line-height: 17px;
        border-color: #6b69ba;
        background-color: #e1e0ff;
        color: #6b69ba;
      }

      &:hover .sub-elem,
      &:focus .sub-elem {
        font-size: 8px;
      }
    }

    .elem-2 {
      left: 89px;

      .elem-2-1 {
        height: 70%;
        border: 1px solid #9499a4;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:hover,
        &:focus {
          font-size: 12px;
          line-height: 1.1;
          color: #01b0b5;
          border-color: #02b2b7;
        }
      }

      .elem-2-2 {
        display: flex;
        height: 31%;

        .elem-2-2-1 {
          display: flex;
          justify-content: center;
          align-items: center;
          // text-align: center;
          width: calc(100% / 3);
          height: 100%;
          border: 1px solid #9499a4;
          &:hover,
          &:focus {
            font-size: 8px;
            line-height: 1.1;
            color: #874d23;
            border-color: #874d23;
            background-color: #efdaca;
          }
        }

        .elem-2-2-2 {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          width: calc(100% / 3);
          height: 100%;
          background-color: #fff;
          font-size: 10px;
          font-weight: 900;
          color: rgb(193, 41, 41);
        }

        .elem-2-2-3 {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: calc(100% / 3);
          height: 100%;
          border: 1px solid #9499a4;
          &:hover,
          &:focus {
            font-size: 9px;
            line-height: 1.1;
            color: #cabb36;
            border-color: #efe058;
            background-color: #fffce0;
          }
        }
      }
    }

    .elem-3 {
      right: 0;
      // position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      &:hover,
      &:focus {
        font-size: 12px;
        line-height: 1.1;
        color: #02b2b7;
        border-color: #02b2b7;
      }
    }
  }

  .second-floor {
    position: relative;
    background-color: #fff;

    .comp {
      position: absolute;
      background-color: #e0feff;
    }

    .elem-1 {
      position: absolute;
      left: 0;
      cursor: pointer;

      &:hover .comp,
      &:focus .comp {
        background-color: #ffe0e0;
        color: #b50101;
        font-size: 16px;
        text-transform: uppercase;
      }

      &:hover .elem-1-text,
      &:focus .elem-1-text {
        font-size: 14px;
      }

      .elem-1-text {
        font-size: 0;
        line-height: 1;
        color: #b50101;
        position: absolute;
        top: 25px;
        left: 10px;
        z-index: 3;
        text-transform: uppercase;
        font-weight: 900;

        .sub-text {
          text-transform: lowercase;
          font-weight: 400;
        }
      }

      .comp-1 {
        height: 110px;
        width: 90px;
      }

      .comp-2 {
        height: 55px;
        width: 30px;
        left: 90px;
      }

      .comp-3 {
        height: 30px;
        width: 8px;
        left: 120px;
        top: 25px;
      }

      .comp-4 {
        top: 55px;
        left: 90px;
        width: 20px;
        height: 15px;
      }

      .comp-5 {
        top: 62px;
        left: 85px;
        width: 22px;
        height: 15px;
        transform: rotate(-30deg);
      }

      .comp-6 {
        top: 78px;
        left: 90px;
        width: 5px;
        height: 15px;
      }
    }

    .elem-2 {
      position: relative;
      right: 0;

      &:hover .comp,
      &:focus .comp {
        background-color: #bbefef;
        cursor: pointer;
      }

      &:hover .elem-2-text,
      &:focus .elem-2-text {
        display: block;
      }

      .elem-2-text {
        position: absolute;
        top: 35px;
        z-index: 2;
        display: none;
        max-width: 100px;
        right: 5px;
        color: #02b2b7;
      }

      .comp {
        position: absolute;
        background-color: #e0feff;
      }

      .comp-1 {
        width: 110px;
        height: 110px;
        right: 0;
      }

      .comp-2 {
        width: 10px;
        height: 85px;
        right: 110px;
        top: 25px;
      }
    }

    .elem-3 {
      position: absolute;
      width: 25px;
      height: 34px;
      z-index: 2;
      bottom: 2px;
      left: 115px;
    }
  }

  .third-floor {
    .elem-1 {
      &:hover .comp,
      &:focus .comp {
        background-color: #dafbe0;
        color: #02951a;
      }

      .elem-1-text {
        color: #02951a;
        position: absolute;
        left: 3px;

        .sub-text {
          text-transform: lowercase;
          font-weight: 400;
          line-height: 1;
        }
      }
    }

    .element-2 {
      position: relative;

      .comp-1 {
        left: 155px;
        height: 55px;
        width: 60px;
        z-index: 6;

        .elem-1 {
          top: 25px;
          left: -10px;
          width: 10px;
          height: 30px;
          background-color: #e0feff;
          z-index: 5;
        }

        .text {
          margin-top: 15px;
          text-align: center;
          font-size: 0;
          text-transform: uppercase;
          color: #0129b5;
        }

        .tittle {
          font-weight: 900;
        }

        .sub-text {
          // font-size: 6px;
          line-height: 1;
        }

        &:hover,
        &:focus,
        &:hover .elem-1,
        &:focus .elem-1 {
          background-color: #97c1ff;
          cursor: pointer;
          z-index: 6;
        }

        &:hover .text,
        &:focus .text {
          font-size: 8px;
        }

        &:hover .sub-text,
        &:focus .sub-text {
          font-size: 6px;
        }
      }

      .comp-2 {
        .elem-1 {
          top: 55px;
          left: 145px;
          background-color: #e0feff;
          width: 55px;
          height: 55px;
          z-index: 6;

          .text {
            display: block;
            margin-top: 15px;
            font-size: 0;
            line-height: 10px;
            text-transform: uppercase;
            font-weight: 900;
            text-align: center;
            color: #01b0b5;
          }
        }

        &:hover .elem-1,
        &:focus .elem-1 {
          background-color: #bbefef;
          z-index: 6;
        }

        &:hover .text,
        &:focus .text {
          font-size: 8px;
        }
      }

      .comp-3 {
        right: 65px;

        .elem-1 {
          right: 0;
          width: 65px;
          height: 110px;
          background-color: #e0feff;
          z-index: 3;

          .text {
            margin-top: 70px;
            text-align: center;
            color: #6b69ba;
            text-transform: uppercase;
          }

          .tittle {
            display: block;
            font-size: 0;
            font-weight: 900;
          }

          .sub-text {
            display: block;
            font-size: 0;
          }
        }

        &:hover .elem-1,
        &:focus .elem-1 {
          background-color: #acebf1;
        }

        &:hover .tittle,
        &:focus .tittle {
          font-size: 12px;
        }

        &:hover .sub-text,
        &:focus .sub-text {
          font-size: 8px;
        }
      }
    }
  }

  .fourth-floor {
    .elem-1 {
      .elem-1-text {
        top: 40px;
        width: 90px;
      }

      .sub-text {
        display: block;
        width: 100px;
      }

      &:hover .elem-1-text,
      &:focus .elem-1-text {
        font-size: 12px;
        // width: 90px;
      }

      &:hover .sub-text,
      &:focus .sub-text {
        font-size: 8px;
      }

      &:hover .comp,
      &:focus .comp {
        background-color: #edd9fd;
        color: #7844a1;
      }
    }

    .elem-2 {
      .elem-2-text {
        right: 5px;
        top: 40px;
        color: #38825a;
        cursor: pointer;
        font-size: 0;
        width: 100px;
        font-weight: 900;
        color: #38825a;
        display: block;
      }

      .sub-text {
        display: block;
        color: #38825a;
        display: block;
        font-size: 0;
        width: 100px;
      }

      &:hover .elem-2-text,
      &:focus .elem-2-text {
        font-size: 14px;
        font-weight: 900;
        width: 90px;
      }

      &:hover .sub-text,
      &:focus .sub-text {
        font-size: 10px;
        width: 100px;
      }

      &:hover .comp,
      &:focus .comp {
        background-color: #defdec;
        color: #38825a;
      }
    }
  }
}

.scheme-sub-list.js-cinema {
  &:hover,
  &:focus {
    .scheme-content__img-wrapper {
      .third-floor {
        .element-2 {
          .comp-3 {
            .elem-1 {
              background-color: red !important;
              z-index: 99 !important;
              color: red !important;
            }
          }
        }
      }
    }
  }
}

.js-laser-focus.elem-2.is-active-floor {
  .comp {
    background-color: #defdec;
  }

  .elem-2-text {
    font-size: 14px;
  }

  .sub-text {
    font-size: 10px;
  }
}

.scheme-content__img-wrapper .fourth-floor .js-roller-focus.elem-1.is-active-floor {
  .comp {
    background-color: #edd9fd;
    color: #7844a1;
  }

  .elem-1-text {
    font-size: 12px;
  }

  .sub-text {
    font-size: 8px;
  }
}

.scheme-content__img-wrapper .third-floor .element-2 .comp-3.is-active-floor .elem-1 {
  background-color: #acebf1;

  .text .tittle {
    font-size: 12px;
  }

  .text .sub-text {
    font-size: 8px;
  }
}

.scheme-content__img-wrapper .second-floor .elem-1.is-active-floor {
  .comp {
    background-color: #dafbe0;
  }

  .elem-1-text {
    font-size: 14px;
  }
  
  .sub-text {
    font-size: 12px;
  }
}

.scheme-content__img-wrapper .third-floor .element-2 .js-soccer-focus.comp.comp-1.is-active-floor{
  background-color: #97c1ff;
    .elem-1 {
      background-color: #97c1ff;
    }

    .tittle {
      font-size: 8px;
    }

    .sub-text {
      font-size: 6px;
      line-height: 12px;
    }
}

.scheme-content__img-wrapper .second-floor .elem-1.js-mida-focus.is-active-floor {
  .comp {
    background-color: #ffe0e0;
  }

  .elem-1-text {
    font-size: 14px;
  }

  .sub-text {
    font-size: 10px;
  }
}

.scheme-content__img-wrapper .first-floor .elem-2-2-1.js-focus-scheme.is-active-floor {
  font-size: 8px;
  line-height: 1.1;
  color: #874d23;
  border-color: #874d23;
  background-color: #efdaca;
}

.scheme-content__img-wrapper .first-floor .elem-2-2-3.is-active-floor {
  font-size: 9px;
  line-height: 1.1;
  color: #cabb36;
  border-color: #efe058;
  background-color: #fffce0;
}

.scheme-content__img-wrapper .first-floor .elem-1.is-active-floor {
  font-size: 12px;
  line-height: 17px;
  border-color: #6b69ba;
  background-color: #e1e0ff;
  color: #6b69ba;

  .sub-elem {
    font-size: 8px;
  }
}

@media screen and (min-width: 480px) {
  .scheme-content__img-wrapper {
    .container-img {
      transform: scale(1.4);
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
}

@media screen and (min-width: 768px) {
  .scheme-content__img-wrapper {
    .container-img {
      transform: scale(1.6);
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: 120px;
    }
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .scheme-content__img-wrapper {
    .container-img {
      transform: scale(1.8);
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: 200px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .scheme-content__img-wrapper {
    .container-img {
      transform: scale(2.3);
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: 300px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .scheme-content__img-wrapper {
    .container-img {
      transform: scale(3);
      margin-top: 100px;
      margin-bottom: 150px;
      margin-left: 380px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .scheme-content__img-wrapper {
    .container-img {
      transform: scale(4);
      margin-top: 200px;
      margin-bottom: 250px;
      margin-left: 600px;
    }
  }
}
