* {
  font-family: "Roboto", sans-serif;
}

.display-none {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.overflow-hidden {
  overflow: hidden;
}

.display-none {
  display: none;
}
